.large.select{

    height: auto;
    width: 300px;

    &::after{
        bottom: 5px;
    }

    &__input{

        height: 30px;
        width: 300px;
        font-size: 20px;  

    }

    &__items{

        max-height: 200px;
        width: 300px;
    
        & > .select__item{
            font-size: 22px;
        }
    }

    &__icon{
        width: 30px;
        right: 0px;
    }

    &__target{
        font-size: 16px;

        &::after{
            width: 16px;
            height: 2px;
        }

        &::before{
            width: 16px;
            height: 2px;
        }
    }

    &__cancel{
        right: 27px;
        bottom: 5px;
        width: 15px;
        height: 15px;
        padding: 2px;

        &::after{
            right: 3px;
            height: 2px;
            width: 14px;
        }

        &::before{
            right: 2px;
            height: 2px;
            width: 14px;
        }
    }
}